<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>.%d{yyyy-MM dd-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

  	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${user.home}/application-logs/com-packtpub-book-springsecurity/spring-boot-oauth-oidc-authentication-tweaked.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily rollover -->
			<FileNamePattern>${user.home}/application-logs/com-packtpub-book-springsecurity/spring-boot-oauth-oidc-authentication-tweaked.%d{yyyy-MM-dd}.log</FileNamePattern>
			
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
 
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>
	<logger name="com.packtpub.book.ch03.springsecurity.springbootoauthoidcauthentication" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="dailyRollingFileAppender"/>
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="dailyRollingFileAppender"/>
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="dailyRollingFileAppender" />
		<appender-ref ref="consoleAppender"/>
	</root>
</configuration> 